aside{
    background-color: #161714;
    grid-area: aside;
}
aside p{
    font-family: 'Montserrat', sans-serif;
}
aside h2{
    text-align: center;
}
aside h2, aside p{
    color: white;
    padding: 0 5px;
}
aside ul{
    list-style-image: url("../images/mini\ nuvem.png")
}
aside ul li{
    color: white;
}
body{
    display: grid;
    cursor: url("../images/kunai\ branca.png"), default;
    font-family: 'Permanent Marker', cursive;
    grid-template-areas: "nav nav nav nav"
                         "header header header aside"
                         "section section section aside"
                         "footer footer footer footer";
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 60vh 45vh 10vh;
margin: 0;
}
body::-webkit-scrollbar{
    width: 0px;    /* Remove scrollbar space*/
    background: transparent; /* Optional just make scroolbar invisible*/
}
footer{
    grid-area: footer;
}
header{
    background-image: url("../images/quadrilha\ ak.jpg");
    background-size: cover;
    grid-area: header;
}
nav{
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #bb2127;
    cursor: url("../images/kunai\ branca.png"), default;
}
nav > img{
    width: 50px;
}
section{
    grid-area: section;
}
section div{
    display: flex;
    justify-content: center;
}
section h2{
    margin: 2px 0;
    text-align: center;
}
section input:focus{
    background-color: lightgrey;
}
section input::placeholder{
    color: #bb2127;
}